/* background and colors */
.bg-alice-blue {
  background: #f6f7fb;
}

/* cypher classes  */
.cypher {
  background: mistyrose;
  padding: .1rem .4rem .1rem .4rem;
  border-bottom: 1px dashed gray;
}

.decypher {
  background: honeydew;
  padding: .1rem .4rem .1rem .4rem;
  border-bottom: 1px dashed gray;
  cursor: help;
}

#main-thing h4 {
  color: chocolate;
  font-size: 4rem;
}
